@import "tailwindcss";

.border-partial::after {
  content: "";
  position: absolute;
  width: 140%;
  height: 140%;
  border-radius: 50%;
  border: 4px solid #a3ff00; /* Cor da borda */
  top: -20%;
  left: -20%;
  mask-image: conic-gradient(transparent 270deg, black 0deg);
  -webkit-mask-image: conic-gradient(transparent 270deg, black 0deg);
}
